body {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#maincontainer {
  max-width: 350px;
  border: 1px solid #dcdcdc;
  margin: 0 auto;
  overflow: hidden;
  display: none; /* Hidden initially */
  opacity: 0; /* Invisible initially */
  transform: translateY(50px); /* Move down by 50px initially */
  transition: opacity 1s ease, transform 1s ease;
}
#maincontainer.visible {
  opacity: 1; /* Fade in */
  transform: translateY(0);
}
@media only screen and (max-width: 600px) {
  #maincontainer {
    max-width: 100%;
    width: 100%;
    border: none;
  }
}
#header {
  border-bottom: 1px solid #dcdcdc;
  background-color: #d8ff8e;
  padding: 2rem;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}
#header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
h1 {
  font-weight: 300;
  font-size: 3.5rem;
  margin: 0;
  color: rgb(0, 0, 0);
}

#recipe-form {
  border-bottom: 1px solid #dcdcdc;
  display: none;
}
#recipe-form div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem;
}
#new-recipe {
  transition: all 0.3s ease-in-out;
  border: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: black;
  background-color: white;
}
#new-recipe .add {
  font-size: 3rem;
}
#new-recipe:hover {
  color: rgb(101, 156, 0);
}
.active {
  display: block !important;
}
input,
select {
  padding: 8px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
}
#add-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.7rem 0;
  font-size: 1rem;
  font-weight: 400;
}
option:first-child {
  color: gray;
}
button {
  padding: 8px 12px;
}
#category-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* #category-list {
  display: flex;
  flex-direction: column;
  gap: 0;
} */
.recipe {
  padding: 3rem 2rem;
  border-bottom: 1px solid #dcdcdc;
}
.recipe:nth-child(-2n + 5) {
  background-color: rgb(249, 255, 237);
}
#category-list ul li {
  margin-bottom: 10px;
}
#category-list ul li a {
  /* text-decoration: none; */
  color: rgb(101, 156, 0);
  font-size: 15px;
}
#category-list h3 {
  font-weight: 350;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0;
  padding: 7px 10px;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: white;
  margin-bottom: 1.5rem;
  color: black;
  display: inline-block;
}
.icon {
  color: rgb(0, 0, 0);
  font-size: 5rem;
  margin-bottom: -0.5rem;
}
/* Preloader full screen */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efff92;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Spinner animation */
.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

/* Keyframes for spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
