body {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#maincontainer {
  max-width: 350px;
  border: 1px solid #dcdcdc;
  margin: 0 auto;
  margin-bottom: 100px;
  overflow: hidden;
  display: none; /* Hidden initially */
  opacity: 0; /* Invisible initially */
  transform: translateY(50px); /* Move down by 50px initially */
  transition: opacity 1s ease, transform 1s ease;
}
#maincontainer.visible {
  opacity: 1; /* Fade in */
  transform: translateY(0);
}
@media only screen and (max-width: 600px) {
  #maincontainer {
    max-width: 100%;
    width: 100%;
    border: none;
  }
}
#header {
  border-bottom: 1px solid #dcdcdc;
  background-image: url(slide7.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 3rem;
}
#header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
h1 {
  font-weight: 300;
  font-size: 3.5rem;
  margin: 0;
  color: white;
}
#recipe-form {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 20px;
}
#recipe-form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem 2rem 3rem 2rem;
}
input,
select {
  padding: 8px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
}
input:focus,
select:focus,
input:focus-within,
select:focus-within,
select,
select a {
  -webkit-appearance: none;
  background: transparent;
  color: grey !important;
  outline: none;
}
#add-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.7rem 0;
  font-size: 1rem;
  font-weight: 400;
}
option:first-child {
  color: gray;
}
button {
  padding: 0;
  background: transparent;
}
#category-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* #category-list {
  display: flex;
  flex-direction: column;
  gap: 0;
} */
.recipe {
  padding: 3rem 2rem;
  border-bottom: 1px solid #dcdcdc;
}
.recipe:nth-child(-2n + 5) {
  background-color: rgb(249, 255, 237);
}
#category-list ul li {
  margin-bottom: 10px;
}
#category-list ul li a {
  /* text-decoration: none; */
  color: rgb(101, 156, 0);
  font-size: 15px;
}
#category-list h3 {
  font-weight: 350;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0;
  padding: 7px 10px;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: white;
  margin-bottom: 1.5rem;
  color: black;
  display: inline-block;
}
.icon {
  color: white;
  font-size: 4rem;
  margin-bottom: -0.5rem;
}
/* Preloader full screen */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d8ff8e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Spinner animation */
.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

/* Keyframes for spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #d8ff8e;
  height: 100px;
  width: 100%;
  border-top: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-buttons {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}

#new-recipe,
.nav-btn {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0;
  padding: 0;
  border-radius: 50%;
  color: black;
  background-color: white;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
}
#new-recipe .add,
#refreshButton span {
  font-size: 2rem;
}

#new-recipe:hover,
.nav-btn:hover {
  color: rgb(101, 156, 0);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: calc(100vh - 100px); /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: auto;
}

/* The Close Button */
.close {
  width: 100%;
  align-items: flex-end;
  padding: 0 !important;
}
.close img {
  width: 30px;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
