body {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
}

#maincontainer {
  max-width: 350px;
  border: 1px solid #dcdcdc;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  #maincontainer {
    max-width: 100%;
    width: 100%;
  }
}
#header {
  border-bottom: 1px solid #dcdcdc;
  background-color: rgb(216, 255, 142);
  padding: 2rem;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 3rem;
  color: rgb(0, 0, 0);
}

#recipe-form {
  border-bottom: 1px solid #dcdcdc;
  display: none;
}
#recipe-form div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem;
}
#new-recipe {
  transition: all 0.3s ease-in-out;
  border: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: black;
  background-color: white;
}
#new-recipe .add {
  font-size: 3rem;
}
#new-recipe:hover {
  color: rgb(101, 156, 0);
}
.active {
  display: block !important;
}
input,
select {
  padding: 8px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
}
#add-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.7rem 0;
  font-size: 1rem;
  font-weight: 400;
}
option:first-child {
  color: gray;
}
button {
  padding: 8px 12px;
}
#category-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#category-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.recipe {
  padding: 2rem;
  border-bottom: 1px solid #dcdcdc;
}
.recipe:nth-child(-2n + 5) {
  background-color: rgb(249, 255, 237);
}
#category-list ul li {
  margin-bottom: 10px;
}
#category-list ul li a {
  /* text-decoration: none; */
  color: rgb(101, 156, 0);
  font-size: 15px;
}
#category-list h3 {
  font-weight: 350;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0;
  margin-bottom: 1rem;
  color: black;
}
.icon {
  color: rgb(0, 0, 0);
  font-size: 5rem;
}
